* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

#listaProdutos li.local {
    text-align: center;
    font-weight: bold;
    list-style: none;
    padding: 10px;
}

.top-bar {
    font-size: .8rem;
    background-color: #132941;
    padding: 5px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif', serif;
}

.top-bar img {
    width: 80px;
    margin: auto;
}

.top-bar h1 {
    margin-right: auto
}

   
select{ margin-bottom: 20px;}

#formProduto {
    font-size: 1.2rem;
    width: 90%;
    margin: 25px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os filhos horizontalmente */
}

button {
    margin-top: 15px; /* Adiciona margem superior ao botão */
    width: 70%;
    height: 50px;
    background-color: #132941;
color: white;
border: none;
border-radius: 15px;
}

.listaProdutos{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os filhos horizontalmente */
}


#tabelaProdutos {
    display: none;
border-collapse: collapse;
width: 100%;
margin: 20px auto;
}

#tabelaProdutos th, #tabelaProdutos td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

#tabelaProdutos th {
background-color: #132941;
color: white;}

